@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0A4D68;
  --primary-light: #088395;
  --primary-dark: #05BFDB;
  --primary-contrast: #00FFCA;
  --secondary: #D63484;
  --secondary-light: #F96CCB;
  --secondary-dark: #AA336A;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 25px;
  transition: all 0.3s;
  background-color: var(--primary-light);
  opacity: 0.6;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary);
}

::-webkit-scrollbar-corner {
  display: none;
}

/* Base styles */
body {
  @apply bg-white text-neutral-dark;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/* Animations */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

/* Typography */
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  @apply font-bold;
}

h4, h5, h6 {
  font-family: 'Exo', sans-serif;
  @apply font-semibold;
}